footer {
    background-color: var(--color-primary-2);

}

#footer_itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-9);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_itens {
        flex-direction: column;
        gap: 20px;
    }
}